

   
.container{
  width: 1600px;
  height: 700px;
  min-height: 100vh;
  background-color:rgb(114, 63, 63);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    
}


.form-container{
  width: 468px;
  height: 500px;
  display: flex;
  background-color:#BE0909;
  margin-left:10px;
  padding:4px;
font-family: "Roboto", sans-serif;
font-weight: 300;
font-style: normal
}

.form-container label{
    margin-bottom: 8px;
    font-size:14px;
    display:block;
    color:white
    

}
.form-container input, .form-container textarea{
width: 150%;
padding:5px;
margin-bottom:15px;
background-color:#BE0909;
border-bottom:solid 1px #9DBEBB;
border-style:outset;
border-top:#BE0909;
border-right-style:none
}
    
.form-container button{
    background-color:#9DBEBB ;
    text-decoration:none;
    color:white;
    position: absolute;
    font-weight: bold;
    padding: 10px 20px;
    border-radius:20px;
    cursor:pointer;
    transition:all;
    border:none; 
}
.containertwo{
    width: 260px;
    height: 500px;
    background-color:#FFB039;
    padding:4px;
    

}
.duck{
    position:absolute;
    left:50%;
    top:5%
   
  
 
    
}